/* main.css */


.root {
  color: #eef0f5;
  font-size: 20px;
  font-weight: bold;
}

*{
  margin: 10;
  padding: 0;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eddaf6;
  color: #fff;
  width: 53%;
  margin: auto;
}

#root {
  background :linear-gradient(325deg, #e5cbe5 0%, #5e9acc 30%, #208eca 70%, #8952a5 100%) ;
  text-align: center;
  position: absolute;
  top: 0;
  margin: 10px 0;
}

h2 {
  color: #696169;
  font-size: 20px;
}

.head{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1px; /* Innenabstand erhöhen */
  margin: 25px;
  border-radius: 10px;
  box-shadow: 0px 14px 24px -4px rgba(151, 116, 116, 0.53);
 
}

.notiz{
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(45deg, #fff, #61b5df, #cc86cc);
  display: flex;
  flex-direction: column;
  margin: 1px auto;
  border-radius: 10px;
  box-shadow: 0px 14px 24px -4px rgba(151, 116, 116, 0.53);
}

.notiz button{
  background: linear-gradient(45deg, #fff, #61b5df, #cc86cc);
  font-size: 16px;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 50px;
  padding: 20px;
  margin: 5px 600px;
  color: #3720ca;
  box-shadow: 0px 0px 24px -4px rgba(14, 131, 203, 0.53);
}

.notiz button:hover{
  background: linear-gradient(45deg, #fff, #6ae02f, #f6f7f3);;
  box-shadow: 0px 0px 24px -4px rgba(9, 213, 231, 0.223);
 
}

.new-note{
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(4, 30px);
  grid-column-gap: 100px;
  grid-row-gap: 40px;
  justify-content: center;
  align-items: center;
  place-items: center;
}

.new-note h2{
  grid-area: 1/ 1 / 2 / 3;
  font-size: 24px;
}

.title{
  grid-area: 2 / 1 / 3 / 2;
  font-size: 24px;
  margin-right: 10px;

}

.title-input{
  grid-area: 2 / 2 / 3 / 3;
  text-align: center; /* Zentrieren Sie den Text horizontal */
  background: linear-gradient(45deg, #fff, #ceaace, #2db6e4, #fff); /* Hintergrundfarbe anpassen */
  border: 5px solid rgb(205, 145, 213); /* Rand anpassen */
  border-radius: 5px; /* Ecken abrunden */
  padding: 10px; /* Innenabstand anpassen */
  font-size: 24px; /* Schriftgröße anpassen */
  font-weight: bold;
  color: #0b0be5; /* Textfarbe anpassen */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Schatten anpassen */
  /* Weitere gewünschte Stilanpassungen */
  height: 25px;
  width: 600px;
  margin-right: 100px;
}

.content{
  grid-area: 3 / 1 / 5 / 2;;
  font-size: 24px;
}

.content-input{
  grid-area: 3 / 2 / 5 / 3; /* Position im Grid */
  background: linear-gradient(45deg, #fff, #ceaace, #2db6e4, #fff);
  border: 5px solid #af7eba; /* Rand anpassen */
  border-radius: 5px; /* Ecken abrunden */
  padding: 0px; /* Innenabstand anpassen */
  font-size: 24px; /* Schriftgröße anpassen */
  font-weight: bold;
  color: #0b0be5; /* Textfarbe anpassen */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Schatten anpassen */
  /* Weitere gewünschte Stilanpassungen */
  height: 130px;
  width: 620px;
  margin-right: 100px;
}

.create-button{
  grid-area: 5 / 1 / 6 / 3;
  background: linear-gradient(45deg,#fff, #e7c8e7, #81cee7);
  border: 2px solid #d094d0; /* Rand anpassen */
  border-radius: 50px; /* Ecken abrunden */
  padding: 5px; /* Innenabstand anpassen */
  font-size: 16px; /* Schriftgröße anpassen */
  font-weight: bold;
  color: #1111ea; /* Textfarbe anpassen */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Schatten anpassen */
  /* Weitere gewünschte Stilanpassungen */
  width: 200px;
  height: 40px;
}

.radios{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
}

.radios input{
  margin-right: 5px;
}

.radios label{
  margin-right: 20px;
}

.notiz-liste{
  padding: 20px;
  font-size: 18px; /* Schriftgröße anpassen */
  color: #1b191b; /* Textfarbe anpassen */
  margin-top: 10px;
  margin-bottom: 10px;
}
