/* main.css */

.root {
  color: #1111ea;
  font-size: 24px;
  font-weight: bold;
}
h1 {
  display: block;
  font-size: 40px;
  font-weight: bold;
}
*{
  margin: 10;
  padding: 0;
}
html, body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eddaf6;
  color: #fff;
  width: 53%;
  margin: auto;
}
#root {
  background : linear-gradient(325deg, #e5cbe5 0%, #eff2f5 30%, #4784a5 70%, #cfb6dc 100%) ;
  text-align: center;
  position: absolute;
  top: 0;
  margin: 70px 0;
}

h2 {
  color: #696169;
  font-size: 20px;
}
.new-note{
  display: grid;
  grid-template-columns: repeat(1, 50%);
  grid-template-rows: repeat(2, 30px);
  grid-column-gap: 0px;
  grid-row-gap: 50px;
  justify-content: center;
  align-items: center;
  place-items: center;
}
.new-note h2{
  grid-area: 1/ 1 / 2 / 3;
  font-size: 24px;
}

.title{
  grid-area: 2 / 1 / 3 / 2;
  font-size: 40px;
  font-weight: bold;
}
.title-input{
  grid-area: 2 / 2 / 3 / 3;
  text-align: center; /* Zentrieren Sie den Text horizontal */
  background: #fff;
  border: 5px solid rgb(205, 145, 213); /* Rand anpassen */
  border-radius: 5px; /* Ecken abrunden */
  padding: 10px; /* Innenabstand anpassen */
  font-size: 20px; /* Schriftgröße anpassen */
  font-weight: bold;
  color: #0b0b0b; /* Textfarbe anpassen */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Schatten anpassen */
  /* Weitere gewünschte Stilanpassungen */
  height: 50px;
  width: 600px;
}

.content{
  grid-area: 3 / 1 / 5 / 2;;
  font-size: 40px;
  font-weight: bold;
}
.content-input{
  grid-area: 3 / 2 / 5 / 3; /* Position im Grid */
  background: #fff;
  border: 5px solid #af7eba; /* Rand anpassen */
  border-radius: 5px; /* Ecken abrunden */
  padding: 0px; /* Innenabstand anpassen */
  text-align: center;
  font-size: 24px; /* Schriftgröße anpassen */
  font-weight: bold;
  color: #0e0e0f; /* Textfarbe anpassen */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Schatten anpassen */
  /* Weitere gewünschte Stilanpassungen */
  height: 150px;
  width: 650px;
}
.radios{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
}

.radios input{
  margin-right: 5px;
}
.radios label{
  margin-right: 20px;
}
.notiz-liste{
  padding: 20px;
  font-size: 24px; /* Schriftgröße anpassen */
  color: #0f0f12; /* Textfarbe anpassen */
  margin-top: 10px;
  margin-bottom: 10px;
}

