/* styles/main.css */

/* Notiz Element */
.notiz-element {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.notiz-element h3 {
  margin-top: 0;
}

.notiz-element p {
  margin-bottom: 10px;
}

.notiz-element button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.notiz-element button:hover {
  background-color: #0056b3;
}
