input {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  border: 2px solid #0b0be5; /* Ändere die Randfarbe nach Bedarf */
  border-radius: 5px; /* Ändere die Eckenrundung nach Bedarf */
  font-size: 14px; /* Ändere die Schriftgröße nach Bedarf */
  color: #0b0b0b; /* Ändere die Textfarbe nach Bedarf */
  background-color: #fff; /* Ändere die Hintergrundfarbe nach Bedarf */
}


  button {
    background: linear-gradient(45deg, #09abeb, #0d75ed, #06b7f2);
    color: rgb(240, 244, 240);
    font-weight: bold;
    font-size: 16px;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
  }
  p {
    color: rgb(29, 28, 28);
    font-size: 20px;
    margin-top: 10px;
  }

